@tailwind base;
@tailwind components;
@tailwind utilities;



/* Montserrat Font Faces */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
}

/* Global Reset + Font Apply */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #155dfc;
  border-radius: 6px;
}

html, body, #root {
  height: 100%;
}


/* smooth_scroll */
/* Chrome, Edge */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #155dfc;
  border-radius: 6px;
}
html, body, #root {
  height: 100%;
}